#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/library
#    username: user
#    password: password
#    driver-class-name: org.postgresql.Driver

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
